@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --yellow: #f9d806;
    --light-yellow: #ffee80;
    --black: #130f40;
    --light-color: #666;
    --cream: #ee8d8d;
    --red: #ea3030;
    --change: rgb(187, 254, 254);
    --border: .1rem solid rgba(0, 0, 0, 0.139);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.251);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
    background: #fcdcdc;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fdeded;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}
.header .logo span{
    color: var(--yellow);
    background-color: var(--cream);
    border-radius: 5px;
    padding: 2px 5px;
}
.header .logo span:hover{
    background-color: var(--red);
}
.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--yellow);
}
.header .btn{
    margin-top: 0;
}
.header #login-btn i{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}
.header #profile-btn i{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}
.btn-wrapper{
    display: grid;
    place-content: center;
}
.btn-wrapper button{
    display: flex;
}
.btn-wrapper button:hover .dropdown{
    display: block;
}
.dropdown {
    background: var(--light-yellow);
    border-radius: .3em;
    position: absolute;
    left: .1em;
    padding: .5em;
    width: 100%;
    box-sizing: border-box;
    transform: translateY(4.5em);
    transition: trasnform .5s;
    visibility: hidden;
}
.dropdown ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropdown ul li a{
    display: flex;
    padding: .8em;
    text-decoration: none;
    color: black;
}
.dropdown ul li a span{
    margin-left: .3em;
    font-size: 1.2em;
}
.dropdown ul li:hover{
    background: var(--yellow);
}
.profile-btn-container {
    position: relative;
}
.profile-btn-container:hover .dropdown{
    display: block;
    visibility: visible;
}

#menu-btn{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

.header.active{
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

h1{
    margin-top: 12rem;
    text-align: center;
    font-size: 3.5vw;
    text-transform: uppercase;
    color: var(--red);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background: var(--light-yellow);
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
}
.btn:hover {
    background: var(--yellow);
}
.price{
    font-size: 2.5rem;
    color: var(--yellow);
}
.grid-list{
    list-style-type: none;
    font-size: 1.2rem;
    color: var(--red);
    font-weight: bolder;
}

.add-container {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    background: #fcdcdc;
    margin-left: 10rem;
    margin-right: 10rem;
}
.add-container .options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
}
.add-container form{
    display: grid;
    padding-bottom: 5rem;
    justify-content: center;
    place-items: center;
}
.add-container .options .btn{
    width: 30rem;
}
.add-container .options .btn:hover{
    transform: scale(1.1);
}
.add-container .options:hover{
    transform: scale(1.05);
    background: var(--change);
}

.show-container {
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    background: #fcdcdc;
    margin-left: 10rem;
    margin-right: 10rem;
}
.show-container .options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
}
.show-container .options .btn{
    font-size: 1.3rem;
    width: 30rem;
}
.show-container .options .btn:hover{
    transform: scale(1.1);
}
.show-container .options:hover{
    transform: scale(1.05);
    background: var(--change);
}

input[type="email"], input[type="text"]{
    height: 90%;
    width: 100rem;
    font-size: 1.8rem;
    /* margin-left: 15rem; */
    color: var(--black);
    text-transform: none;
    padding: 2rem;
}
input[type="submit"]{
    height: 100%;
    width: 17rem;
    font-size: 1.7rem;
    color: var(--black);
    background: var(--light-yellow);
    cursor: pointer;
}

.footer{
    background: var(--light-yellow);
}
.footer .box-container{
    padding-left: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1rem 0;
}
.footer .box-container .box a{
    color: var(--light-color);
    font-size: 1.4rem;
    display: block;
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--black);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
    color: var(--black);
}
.footer .credit{
    text-align: center;
    border-top: var(--border);
    padding: 1rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    font-size: 2rem;
}